*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
}
.aside{
    float: left;
    width: 30%;
    text-align: center;
    background-color: #f2f3f7;
    overflow: scroll;
}
.head h1{
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.9;
    font-weight: 700;
}
.aside h2,p{
    padding: 10px 0;
}
.nav ul li{
    padding: 10px;
}
ul li a{
    padding: 10px 0;
    text-decoration: none;
    color: black;
    
}
ul li a:hover{
    color: gray;
}
.aside img{
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}
.color{
    color: blue;
}
.main{
    float: right;
    width: 70%;
    margin:25px 0;
}
.head{
    float: left;
    margin: 120px 35px;
}
.head h1{
    padding: 30px 0;
    line-height: 50px;
}
.head p{
    padding: 30px 10px;
}
.img1 img{
    width: 25%;
    margin: 150px 0;
    border: 1px solid transparent;
    border-radius: 7px;
}
.btn{
    padding: 15px 7px;
    border-radius: 7px;
}
.description{
    font-weight:100;
    font-size: 13px;
}